{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table table-bordered">
        <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>TOTAL</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row.action}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row["symbol"]}}</td>
                    <td>{{row.price|usd}}</td>
                    <td>{{row.number}}</td>
                    <td>{{row.total|usd}}</td>
                    <td>{{row.time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}